.home{
    margin-top:15%;
}
body { 
    background: url(/images/clouds.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,h2{
    color:black;
    text-align: center;
    font-weight: 300;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */

    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
}
h1{
    font-size:75px;
}
#home_btn{
    margin-top:10px;
    margin-left:46%;
}
#login_btn{
    margin-bottom:0px;
    float:right;
}
.goal-img{
	width:auto;
	height:250px;
	display: inline-block;
	margin:20px;
}
a, a:hover{
    text-decoration: none;
}
a{
    color:black;
}
